:root{
    --preto: #000;
    --vermelho:#F00;
    --cinza:#AAA;
    --branco:#FFF;

}

*{
        margin: 0; 
        padding:0; 
        border: 0; 
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;}

body{
    background:var(--preto)
}

button{
    padding:10px 15px;
    margin:.1rem;
    border-radius: .15rem;
    cursor: pointer;
    transition:filter 0.4s ease;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
    button:hover{
        filter:brightness(80%)
    }

header.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:80px;
    padding: 5px;
    
}
    header.container h2{
        font-family: 'Arial Black',Arial, Helvetica, sans-serif;
        font-size:0px;
        color:var(--vermelho);
        width:140px;
        height:60px;
        background:url(../img/logo_netflix_h.svg) 0px 0px no-repeat;
        background-size:cover       
    }
    header.container nav{
       
    }
    header.container nav a{
        font-size:18px;
        color:var(--cinza);
        text-decoration: none;
        margin-right: 10px;
    }
    header.container nav a::after{
        content:" / ";
    }
    header.container nav a:last-child{
        color:var(--vermelho)
    }
    header.container nav a:last-child >  i{
        font-size: 0.7em;
    }
    header.container nav a:last-child::after{
        content:"";
    }
    header.container nav a:hover{
        color:var(--branco);
        transition:all 0.5s linear;
    }

main .filme-principal{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    
    height:400px;
    padding: 10px;
    color:#fff;

    background:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,0.6)100%), url(../img/banner_prisonbreak.jpg) top center no-repeat;
    background-size: cover;
}
    main .filme-principal > div .logo{   
       width:350px;
       height:70px;
       font-size: 0px;
       background:url(../img/logo_prisonbreak.png) 0 0 no-repeat;
       background-size: contain;
    }
    main .filme-principal > div p {
       font-size: 18px;
       max-width: 40rem;
       margin: 1rem 0rem 3rem;
    }
        main .filme-principal > div p strong{
            display:block;
            margin-bottom: 1rem;
        }
     main .filme-principal > div button{
        color:var(--branco);
        text-transform: uppercase;
     }
        main .filme-principal > div button > i{
            margin-right: 0.5rem;
        }
        main .filme-principal > div button:first-of-type{
            background-color: var(--vermelho);
            border:1px solid var(--vermelho);
            
        }
        main .filme-principal > div button:last-of-type{
            background-color: var(--preto);
            border:1px solid var(--branco)
        }

main .carrosel-filmes{

}
main .carrosel-filmes > h4{
  padding: 1rem;
  color:#fff;
  font-size: 1.2em;
   

}
main .carrosel-filmes.top10 > div div{
    overflow: hidden;
}
main .carrosel-filmes.top10 > div div h6{
    
    color:var(--branco);
    -webkit-text-fill-color: var(--preto);
    -webkit-text-stroke-width: 0.03rem;
    position:absolute;
    bottom:0px;
    left:-20px;
    letter-spacing:-40px;
    font-family: 'Arial Black';
    font-size: 20vw;
    line-height: 15vw;
}

@media screen and (max-width:700px)
{
    header.container{
        flex-direction: column;
        height:90px;
    }
    header.container h2{
              background:url(../img/icone_netflix.svg) center center no-repeat;
        background-size:contain;
        height:50px;       
    }
    header.container nav a{
        font-size: 0.9em;
    }

    main .carrosel-filmes.top10 > div div h6{
    
        font-size: 120vw;
        line-height: 90vw;
    }
}