main.view .filme-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  height: 100vh;
  padding: 10px;
  color: #fff;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6) 100%),
    url(../img/banner_viuvanegra.jpg) top center no-repeat;
  background-size: cover;
}
main.view .filme-principal > div .logo {
  width: 800px;
  height: 220px;
  font-size: 0px;
  background: url(../img/logo_viuva.png) 0 0 no-repeat;
  background-size: contain;
}
main.view .filme-principal > div p {
  font-size: 18px;
  max-width: 40rem;
  margin: 1rem 0rem 3rem;
}
main.view .filme-principal > div p strong {
  display: block;
  margin-bottom: 1rem;
}
main.view .filme-principal > div button {
  color: var(--branco);
  text-transform: uppercase;
}
main.view .filme-principal > div button > i {
  margin-right: 0.5rem;
}
main.view .filme-principal > div button:first-of-type {
  background-color: var(--vermelho);
  border: 1px solid var(--vermelho);
}
main.view .filme-principal > div button:last-of-type {
  background-color: var(--preto);
  border: 1px solid var(--branco);
}
